html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, img, ul, li, article, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, footer, header, nav, section {
  display: block; }

ul {
  list-style: none; }

@font-face {
  font-family: "MuseoSans light";
  src: local("MuseoSans-300.eot"), url("../fonts/MuseoSans/MuseoSans-300.eot"); }

@font-face {
  font-family: "MuseoSans light";
  src: local("MuseoSans-300.ttf"), url("../fonts/MuseoSans/MuseoSans-300.ttf"); }

@font-face {
  font-family: "MuseoSans";
  src: local("MuseoSans.eot"), url("../fonts/MuseoSans/MuseoSans.eot"); }

@font-face {
  font-family: "MuseoSans";
  src: local("MuseoSans.ttf"), url("../fonts/MuseoSans/MuseoSans.ttf"); }

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular.eot"), url("../fonts/OpenSans/OpenSans-Regular.eot"); }

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans.ttf"), url("../fonts/OpenSans/OpenSans.ttf"); }

@font-face {
  font-family: "OpenSans light";
  src: local("OpenSans.eot"), url("../fonts/OpenSans/OpenSans-Light.eot"); }

@font-face {
  font-family: "OpenSans light";
  src: local("OpenSans-Light.ttf"), url("../fonts/OpenSans/OpenSans-Light.ttf"); }

@font-face {
  font-family: "OpenSans bold";
  src: local("OpenSans-Semibold.eot"), url("../fonts/OpenSans/OpenSans-Semibold.eot"); }

@font-face {
  font-family: "OpenSans bold";
  src: local("OpenSans-Semibold.ttf"), url("../fonts/OpenSans/OpenSans-Semibold.ttf"); }

.brand a, .brand img {
  position: relative;
  float: left; }

.col-1-1, .col-1-2, .col-2-2, .col-1-3, .col-2-3, .col-3-3, .col-1-4, .col-2-4, .col-3-4, .col-4-4, .col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-5-5, .col-1-6, .col-2-6, .col-3-6, .col-4-6, .col-5-6, .col-6-6 {
  margin-left: 1%;
  margin-right: 1%; }
  .col-1-1 > div, .col-1-2 > div, .col-2-2 > div, .col-1-3 > div, .col-2-3 > div, .col-3-3 > div, .col-1-4 > div, .col-2-4 > div, .col-3-4 > div, .col-4-4 > div, .col-1-5 > div, .col-2-5 > div, .col-3-5 > div, .col-4-5 > div, .col-5-5 > div, .col-1-6 > div, .col-2-6 > div, .col-3-6 > div, .col-4-6 > div, .col-5-6 > div, .col-6-6 > div, .col-1-1 > img, .col-1-2 > img, .col-2-2 > img, .col-1-3 > img, .col-2-3 > img, .col-3-3 > img, .col-1-4 > img, .col-2-4 > img, .col-3-4 > img, .col-4-4 > img, .col-1-5 > img, .col-2-5 > img, .col-3-5 > img, .col-4-5 > img, .col-5-5 > img, .col-1-6 > img, .col-2-6 > img, .col-3-6 > img, .col-4-6 > img, .col-5-6 > img, .col-6-6 > img, .col-1-1 > a, .col-1-2 > a, .col-2-2 > a, .col-1-3 > a, .col-2-3 > a, .col-3-3 > a, .col-1-4 > a, .col-2-4 > a, .col-3-4 > a, .col-4-4 > a, .col-1-5 > a, .col-2-5 > a, .col-3-5 > a, .col-4-5 > a, .col-5-5 > a, .col-1-6 > a, .col-2-6 > a, .col-3-6 > a, .col-4-6 > a, .col-5-6 > a, .col-6-6 > a {
    width: 100%;
    height: auto;
    position: relative;
    float: left; }

.shadow {
  -webkit-box-shadow: 0 0 7px -1px rgba(88, 86, 87, 0.5);
  box-shadow: 0 0 7px -1px rgba(88, 86, 87, 0.5); }

html {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  color: #333333; }

body {
  font-family: "OpenSans", sans-serif;
  line-height: 1.5;
  margin: 0; }

a {
  -webkit-text-decoration-skip: objects;
  color: #61C0BD;
  text-decoration: none; }

a:active,
a:hover {
  outline: none; }

.section {
  padding-top: 30px;
  padding-bottom: 30px; }

.section-small {
  padding-top: 15px;
  padding-bottom: 15px; }

.section-large {
  padding-top: 60px;
  padding-bottom: 60px; }

.bg-muted {
  background: #454850; }
  .bg-muted hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.09);
    margin: 25px 0; }
  .bg-muted a {
    color: #60C0CF;
    text-decoration: none; }
  .bg-muted {
    color: rgba(179, 204, 218, 0.6);
    font-weight: 100;
    font-size: .9rem; }

.bg-secondary {
  background: #454850; }
  .bg-secondary hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.09);
    margin: 25px 0; }
  .bg-secondary a {
    color: #60C0CF;
    text-decoration: none; }
  .bg-secondary {
    color: rgba(179, 204, 218, 0.6);
    font-weight: 100;
    font-size: .9rem; }

.container {
  width: -webkit-calc(100% - 10rem);
  width: calc(100% - 10rem);
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px; }

.hero-container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: auto; }
  .hero-container img {
    width: 100%;
    height: auto; }

.hero {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .hero div.container {
    padding: 100px 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .hero-container {
    width: 100%;
    height: 280px; }
  .container {
    width: -webkit-calc(100% - 3rem);
    width: calc(100% - 3rem);
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hero-container {
    width: 100%;
    height: 500px; }
  .container {
    width: -webkit-calc(100% - 10rem);
    width: calc(100% - 10rem);
    max-width: 940px;
    padding-left: 40px;
    padding-right: 40px; } }

@media only screen and (min-width: 1224px) {
  .hero-container {
    width: 100%;
    height: 450px; }
  .container {
    width: -webkit-calc(100% - 10rem);
    width: calc(100% - 10rem);
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px; } }

.navbar {
  font-family: "MuseoSans", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 2;
  height: 60px; }

.brand a {
  padding: 12px 0; }

.brand img {
  width: 165px; }

.navbar-menu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  line-height: 4;
  text-transform: uppercase; }
  .navbar-menu a {
    color: #575656;
    font-size: 0.976rem;
    font-family: "MuseoSans", sans-serif;
    padding: 10px 16px;
    text-decoration: none; }
  .navbar-menu li.last a {
    color: #69C0BD;
    font-size: 0.9rem;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    margin-left: 16px;
    padding-left: 23px;
    padding-right: 23px;
    border: 1px solid  #69C0BD; }
  .navbar-menu li.active a {
    color: #69C0BD; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 16px 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  color: #565659;
  text-transform: uppercase; }

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 12px; }

h1 {
  font-size: 2.1rem;
  line-height: 2; }

h2 {
  font-size: 1.6rem;
  line-height: 2; }

h3 {
  font-size: 1.43333rem;
  line-height: 2; }

h4 {
  font-size: 1.35rem;
  line-height: 2; }

h5 {
  font-size: 1.3rem;
  line-height: 2; }

h6 {
  font-size: 1.26667rem;
  line-height: 2; }

.text-light {
  color: rgba(255, 255, 255, 0.7) !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.text-hero {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "OpenSans light", sans-serif;
  color: #fff; }

.title-hero {
  font-size: 3.2rem;
  font-family: "MuseoSans light", sans-serif;
  line-height: 1.5;
  color: #fff; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.col-1-1 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 98%;
      -ms-flex: 0 0 98%;
          flex: 0 0 98%; }

.offset-1-1 {
  margin-left: 100%; }

.col-1-2 {
  max-width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48%;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%; }

.offset-1-2 {
  margin-left: 50%; }

.col-2-2 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 98%;
      -ms-flex: 0 0 98%;
          flex: 0 0 98%; }

.offset-2-2 {
  margin-left: 100%; }

.col-1-3 {
  max-width: 33.33333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 31.33333%;
      -ms-flex: 0 0 31.33333%;
          flex: 0 0 31.33333%; }

.offset-1-3 {
  margin-left: 33.33333%; }

.col-2-3 {
  max-width: 66.66667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 64.66667%;
      -ms-flex: 0 0 64.66667%;
          flex: 0 0 64.66667%; }

.offset-2-3 {
  margin-left: 66.66667%; }

.col-3-3 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 98%;
      -ms-flex: 0 0 98%;
          flex: 0 0 98%; }

.offset-3-3 {
  margin-left: 100%; }

.col-1-4 {
  max-width: 25%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 23%;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%; }

.offset-1-4 {
  margin-left: 25%; }

.col-2-4 {
  max-width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48%;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%; }

.offset-2-4 {
  margin-left: 50%; }

.col-3-4 {
  max-width: 75%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 73%;
      -ms-flex: 0 0 73%;
          flex: 0 0 73%; }

.offset-3-4 {
  margin-left: 75%; }

.col-4-4 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 98%;
      -ms-flex: 0 0 98%;
          flex: 0 0 98%; }

.offset-4-4 {
  margin-left: 100%; }

.col-1-5 {
  max-width: 20%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 18%;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%; }

.offset-1-5 {
  margin-left: 20%; }

.col-2-5 {
  max-width: 40%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 38%;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%; }

.offset-2-5 {
  margin-left: 40%; }

.col-3-5 {
  max-width: 60%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58%;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%; }

.offset-3-5 {
  margin-left: 60%; }

.col-4-5 {
  max-width: 80%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 78%;
      -ms-flex: 0 0 78%;
          flex: 0 0 78%; }

.offset-4-5 {
  margin-left: 80%; }

.col-5-5 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 98%;
      -ms-flex: 0 0 98%;
          flex: 0 0 98%; }

.offset-5-5 {
  margin-left: 100%; }

.col-1-6 {
  max-width: 16.66667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14.66667%;
      -ms-flex: 0 0 14.66667%;
          flex: 0 0 14.66667%; }

.offset-1-6 {
  margin-left: 16.66667%; }

.col-2-6 {
  max-width: 33.33333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 31.33333%;
      -ms-flex: 0 0 31.33333%;
          flex: 0 0 31.33333%; }

.offset-2-6 {
  margin-left: 33.33333%; }

.col-3-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48%;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%; }

.offset-3-6 {
  margin-left: 50%; }

.col-4-6 {
  max-width: 66.66667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 64.66667%;
      -ms-flex: 0 0 64.66667%;
          flex: 0 0 64.66667%; }

.offset-4-6 {
  margin-left: 66.66667%; }

.col-5-6 {
  max-width: 83.33333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 81.33333%;
      -ms-flex: 0 0 81.33333%;
          flex: 0 0 81.33333%; }

.offset-5-6 {
  margin-left: 83.33333%; }

.col-6-6 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 98%;
      -ms-flex: 0 0 98%;
          flex: 0 0 98%; }

.offset-6-6 {
  margin-left: 100%; }

.next-event-btn {
  background: #61c0bd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.83rem;
  float: right !important;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #59b7b7;
  width: auto !important;
  padding: 10px 20px; }

.next-event-color {
  color: #61c0bd; }

.next-event-bold {
  font-weight: bold;
  font-family: "OpenSans bold"; }

.involved {
  padding-top: 30px;
  padding-bottom: 30px; }

.paragraphs-item-involved-bundle {
  max-width: 33.33333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 31.33333%;
    -webkit-flex--ms-flex: 0 0 31.33333%;
      -webkit-flex--ms-flex-flex: 0 0 31.33333%; }

.region.region-event {
  background: #F1F2F5;
  padding: 30px 0; }

.region.region-involved {
  padding: 20px 0; }

.region.region-about {
  background: #F1F2F5;
  padding: 20px 0; }

.block h2 {
  text-align: center;
  text-transform: uppercase; }
